# Only intended for development
CF_EMAIL=your_cloudflare_account_email          # The email you use to login to Cloudflare
CF_API_TOKEN=your_Cloudflare_global_API_key     # Located at the bottom of https://dash.cloudflare.com/profile/api-tokens
