CF_API_TOKEN="your_cloudflare_create_additional_tokens_key"  # Create at https://dash.cloudflare.com/profile/api-tokens > Create Token > Create Additional Tokens
CF_EMAIL="your_cloudflare_account_email"                     # The email you use to login to Cloudflare
